USE [master]
GO
/****** Object:  Database [ComputersDb]    Script Date: 11/8/2016 6:59:38 PM ******/
CREATE DATABASE [ComputersDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Computers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Computers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Computers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Computers_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputersDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputersDb]
GO
USE [ComputersDb]
GO
/****** Object:  Table [dbo].[ComputerGPUs]    Script Date: 11/8/2016 6:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerGPUs](
	[ComputerId] [int] NOT NULL,
	[GPUId] [int] NOT NULL,
 CONSTRAINT [PK_ComputerGPUs] PRIMARY KEY CLUSTERED 
(
	[ComputerId] ASC,
	[GPUId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Computers]    Script Date: 11/8/2016 6:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Vendor] [nvarchar](20) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[RAM] [int] NOT NULL,
	[CPUId] [int] NOT NULL,
 CONSTRAINT [PK_Computers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComputerStorageDevices]    Script Date: 11/8/2016 6:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComputerStorageDevices](
	[ComputerId] [int] NOT NULL,
	[StorageDeviceId] [int] NOT NULL,
 CONSTRAINT [PK_ComputerStorageDevices] PRIMARY KEY CLUSTERED 
(
	[ComputerId] ASC,
	[StorageDeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CPUs]    Script Date: 11/8/2016 6:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](20) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[NumberOfCores] [tinyint] NOT NULL,
	[ClockCycles] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CPUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GPUs]    Script Date: 11/8/2016 6:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](20) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Type] [nchar](8) NOT NULL,
	[Memory] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_GPUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StorageDevices]    Script Date: 11/8/2016 6:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](20) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Type] [nchar](3) NOT NULL,
	[Size] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_StorageDevices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ComputerGPUs]  WITH CHECK ADD  CONSTRAINT [FK_ComputerGPUs_Computers] FOREIGN KEY([ComputerId])
REFERENCES [dbo].[Computers] ([Id])
GO
ALTER TABLE [dbo].[ComputerGPUs] CHECK CONSTRAINT [FK_ComputerGPUs_Computers]
GO
ALTER TABLE [dbo].[ComputerGPUs]  WITH CHECK ADD  CONSTRAINT [FK_ComputerGPUs_GPUs] FOREIGN KEY([GPUId])
REFERENCES [dbo].[GPUs] ([Id])
GO
ALTER TABLE [dbo].[ComputerGPUs] CHECK CONSTRAINT [FK_ComputerGPUs_GPUs]
GO
ALTER TABLE [dbo].[Computers]  WITH CHECK ADD  CONSTRAINT [FK_Computers_CPUs] FOREIGN KEY([CPUId])
REFERENCES [dbo].[CPUs] ([Id])
GO
ALTER TABLE [dbo].[Computers] CHECK CONSTRAINT [FK_Computers_CPUs]
GO
ALTER TABLE [dbo].[ComputerStorageDevices]  WITH CHECK ADD  CONSTRAINT [FK_ComputerStorageDevices_Computers] FOREIGN KEY([ComputerId])
REFERENCES [dbo].[Computers] ([Id])
GO
ALTER TABLE [dbo].[ComputerStorageDevices] CHECK CONSTRAINT [FK_ComputerStorageDevices_Computers]
GO
ALTER TABLE [dbo].[ComputerStorageDevices]  WITH CHECK ADD  CONSTRAINT [FK_ComputerStorageDevices_StorageDevices] FOREIGN KEY([StorageDeviceId])
REFERENCES [dbo].[StorageDevices] ([Id])
GO
ALTER TABLE [dbo].[ComputerStorageDevices] CHECK CONSTRAINT [FK_ComputerStorageDevices_StorageDevices]
GO
USE [master]
GO
