#header {
  word-spacing: 20px;
  width: 785px;
  height: 55px;
  background: -webkit-linear-gradient(bottom, #2b2b2b , #3b3b3b);
  background: -moz-linear-gradient(bottom, #2b2b2b , #3b3b3b);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 12px;
  border-bottom: 1px solid #000;
}
header h1 {
  color:#fff;
  word-spacing: 0px;
  position: relative;
  top: -12px;
}
#computer {
  width: 50px;
  float: left;
}
#input {
  height: 20px;
  float: right;
  position: relative;
  top: -80px;
  left: 50px;
  }
#submitButton {
  background: none;
  border: none;
  border-radius: 5px;
  width: 52px;
  height: 29px;
  position: relative;
  left: -81px;
  color: #ddd;
}
#buttonImg {
  width: 60px;
  position: relative;
  top: 13px;
}
#submitButton:active {
  background-color: #ff7f7f;
}

main {
  padding: 10px;
  background-color: #3b3b3b;
  width: 789px;
  height: 300px;
  color: #a6a6a6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1 {
  white-space: nowrap;
  color: #f2cd1a;
  font-size: 2em;
}
p {
  font-family: sans-serif;
  padding: 2px;
}
main section article p span {
  color: #fff;
}
